<div style="width: 100%; height: 100%; display: flex; flex-direction: column; gap: 20px; justify-content: center; align-items: center">
    <h1>Drag some files over here</h1>
    <button onclick="onOpenPopupClick()">Open Popup</button>
</div>